.theme-one table,
.theme-one th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.5rem;
  vertical-align: top;
}
.theme-one td {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0.25rem;
  border-bottom: none;
  text-align: center;
}
.theme-one td.course {
  text-align: start;
}
.theme-one td.course-name {
  width: 40%;
}
.theme-one tr:last-child {
  border-bottom: 1px solid black;
}
.theme-one h1 {
  color: #d15b1e;
  font-family: "Berkshire Swash", serif;
  font-size: 30px !important;
}

.checked-anim {
  animation: checkedAnim 0.3 ease-in-out;
}

.min-h-login {
  min-height: calc(100vh - 5rem);
}

.bg-overlay {
  background-color: #00000099;
}

.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%239ca3af' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1.5em 1.5em;
  -webkit-tap-highlight-color: transparent;
}

.credit-card {
  max-width: 420px;
}

.word-break-words {
  word-break: break-word !important;
}

@media only screen and (max-width: 420px) {
  .credit-card .front {
    font-size: 100%;
    padding: 0 2rem;
    bottom: 2rem !important;
  }

  .credit-card .front .number {
    margin-bottom: 0.5rem !important;
  }
}

@keyframes checkedAnim {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.welcome-card {
  animation: sectionFromTop 0.4s ease-in-out;
}

.dashboard-card .card-item:nth-child(1) {
  opacity: 0;
  animation: showOpacity 0.4s ease-in-out forwards;
  animation-delay: 0.4s;
}
.dashboard-card .card-item:nth-child(2) {
  opacity: 0;
  animation: showOpacity 0.4s ease-in-out forwards;
  animation-delay: 0.8s;
}
.dashboard-card .card-item:nth-child(3) {
  opacity: 0;
  animation: showOpacity 0.4s ease-in-out forwards;
  animation-delay: 1.2s;
}
.card-item:nth-child(4) {
  opacity: 0;
  animation: showOpacity 0.4s ease-in-out forwards;
  animation-delay: 1.6s;
}

.check-item:nth-child(1) .check {
  transform: translateX(600px);
  animation: sectionFromRight 0.4s ease-in-out forwards;
}

.check-item:nth-child(2) .check {
  transform: translateX(600px);
  animation: sectionFromRight 0.4s ease-in-out forwards;
  animation-delay: 0.4s;
}
.check-item:nth-child(3) .check {
  transform: translateX(600px);
  animation: sectionFromRight 0.4s ease-in-out forwards;
  animation-delay: 0.8s;
}
.check-item:nth-child(4) .check {
  transform: translateX(600px);
  animation: sectionFromRight 0.4s ease-in-out forwards;
  animation-delay: 1.2s;
}
.check-item:nth-child(5) .check {
  transform: translateX(600px);
  animation: sectionFromRight 0.4s ease-in-out forwards;
  animation-delay: 1.6s;
}
.check-item:nth-child(6) .check {
  transform: translateX(600px);
  animation: sectionFromRight 0.4s ease-in-out forwards;
  animation-delay: 2s;
}

.verified-stamp {
  transform: scale(3) translateX(200px);
  animation: verifyStamp 0.4s ease-in-out forwards;
  animation-delay: 2.8s;
}

.price-summary .price-item {
  opacity: 0;
  animation: showOpacity 0.5s ease-in-out forwards;
}

.start-verify {
  /* opacity: 0;
  animation: showOpacity 0.2s ease-in-out forwards;
  animation-delay: .3s; */
}

.hide-opacity {
  animation: hideOpacity 0.4s ease-in-out;
  animation-delay: 2s;
}

.section-from-right {
  transition: all 0.4s ease-out;
  animation: sectionFromRight 0.4s ease-in-out;
  animation-delay: 0s;
}

.section-from-left {
  transition: all 0.4s ease-out;
  animation: sectionFromLeft 0.4s ease-in-out;
  animation-delay: 0s;
}

.section-from-bottom {
  animation: sectionFromBottom 0.4s ease-in-out;
}

.section-from-top {
  animation: sectionFromTop 0.4s ease-in-out;
}

.btn-hover {
  transform: scale(1);
}

.btn-hover:hover {
  transform: scale(1.1);
  transition: all 0.2s linear;
}

@keyframes scaleOnHover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes sectionFromRight {
  0% {
    transform: translateX(600px);
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes sectionFromLeft {
  0% {
    transform: translateX(-600px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes sectionFromBottom {
    0% {
      transform: translateY(50px);
    }
    100% {
      transform: translateY(0px);
    }
  }

@keyframes sectionFromTop {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes hideOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes showOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes verifyStamp {
  0% {
    transform: scale(3) translateX(200px);
  }
  100% {
    transform: scale(1) translateX(0px);
  }
}

